<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Examiner</title>
</head>

<body>

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href=#>Examiner</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/user">User list</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div th:fragment="frag(page, value)" class="mb-3">
    <form th:action="${page}" method="post">
        <div class="mb-3">
            <!--            <label for="inputUserName" class="form-label">Имя пользователя:</label>-->
            <input type="text" id="inputUserName" name="username" class="mb-3" placeholder="Имя пользователя">
        </div>
        <div class="mb-3">
            <!--            <label class="mb-3"> Пароль:</label>-->
            <input type="password" id="inputUserPassword" name="password" class="mb-3" placeholder="Пароль">
        </div>
        <div class="mb-3"><input type="submit" th:value="${value}" class="btn btn-primary"/></div>
    </form>
</div>

</body>
</html>