<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head th:insert="~{fragments/my-template :: head}">

</head>
<body>
<div th:insert="~{fragments/my-template :: navbar}"></div>
<div class="container mt-5">
    <p class="p1">Страница авторизации</p>

    <div th:if="${param.error}">
        Неверное имя пользователя и пароль.
    </div>

    <div th:if="${param.logout}">
        Вы вышли из системы.
    </div>


    <div th:replace="~{fragments/my-template :: frag(page=@{/login},value='Войти')}"></div>


    <div class="mb-3"><a href="/registration" class="btn btn-primary">Добавить пользователя</a></div>
</div>
</body>

</html>