<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
>
<head th:insert="~{fragments/my-template :: head}">

</head>
<body>
<div th:insert="~{fragments/my-template :: navbar}"></div>
<div class="container">
    <header>
        <h3 id="h1" th:text="'Вопрос ' + ${question.id}"></h3>
    </header>
    <form th:method="post" th:action="@{/answer/{id}(id=${question.getId()})}" th:object="${question}">

        <h3 th:text="*{getQuestion()}"></h3>
        <br>
        <ul class="list-group">
            <li id="li" th:each="test : *{getTestOptions()}" class="list-group-item">
                <input type="radio" th:field="${question.answer}" th:value="${test}" th:name="testOptions"
                       onclick="document.getElementById('push').disabled = false" class="form-check-input"
                       aria-label="Radio button for following text input">
                <label th:text="${test}"></label>
            </li>
        </ul>
        <br>
        <input th:id="push" type="submit" value="Ответить" disabled class="btn btn-primary">
    </form>

    <br>

</div>
</body>
</html>