<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="~{fragments/my-template :: head}">

</head>
<body>
<div th:insert="~{fragments/my-template :: navbar}"></div>
<div class="container">
    <p>Добавить нового пользователя</p>

    <div th:if="message">
        <p th:text="${message}"></p>
    </div>

    <div th:if="${param.error}">
        Неверное имя пользователя и пароль.
    </div>

    <div th:if="${param.logout}">
        Вы вышли из системы.
    </div>

    <div th:replace="~{fragments/my-template :: frag(page=@{/registration}, value='Добавить')}"></div>
</div>

</body>
</html>